* {
    margin: 0%;
}

/* HEADER*/

.Container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    position: relative;
}

.Icons img {
    width: 40%;
}

.Logo {
    position: relative;
    right: -5%;
}

.Login {
    position: relative;
    right: -18%;
    width: 150%;
}

/* SECTION PICTURE*/

#Picture img{
    max-width: 100%;
}

.Gallery img {
    display: inline-block;
    color: aqua;
    border-radius: 3.5;
}

.Gallery-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}