body {
    background: rgb(255, 255, 255);
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between; /* Coloca el contenido y el icono en los extremos */
    align-items: center;
    width: 50%;
}

